<div class="page-header" style="background-image: url('./assets/img/tienda-obio/bayas-cafe.png');">
    <div class="filter"></div>
    <div class="content-center">
        <div class="contObio'ainer text-center">
            <h1>La Iniciativa Comercial Obio</h1>
            <h5>Maneja los más altos estándares en producción de</h5>
            <h5>Café, Miel, Cacao, entre muchos otros produstos</h5>
            
        </div>

        
    </div>
</div>

<div class="wrapper">
 <div class="section latest-offers">
       <div class="container">
           <h3 class="section-title">Últimas Ofertas</h3>
           <div class="row">
                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img src="./assets/img/tienda-obio/prod-7.png" alt="Rounded Image" class="img-rounded img-responsive">
                            </a>
                            <div class="card-body">
                                <div class="card-description">
                                    <h5 class="card-title">Biocafé</h5>
                                    <p class="card-description">Café Orgánico Gourmet Tostado y Molido, Biocafé, café de altura</p>
                                </div>
                                <div class="price">
                                    <s>$149 &euro;</s> <span class="text-danger">$111 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img src="./assets/img/tienda-obio/prod-9.png" alt="Rounded Image" class="img-rounded img-responsive">
                            </a>
                            <div class="card-body">
                                <div class="card-description">
                                    <h5 class="card-title">Café MAM</h5>
                                    <p class="card-description">Café Orgánico Gourmet Tostado y Molido, Café MAM, selección de granosde altura.</p>
                                </div>
                                <div class="price">
                                    <s>$130 </s> <span class="text-danger">$99 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="col-md-4">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="javascript:void(0)">
                                <img src="./assets/img/tienda-obio/prod-11.png" alt="Rounded Image" class="img-rounded img-responsive">
                            </a>
                            <div class="card-body">
                                <div class="card-description">
                                    <h5 class="card-title">CESMACH</h5>
                                    <p class="card-description">Café Orgánico Gourmet, CESMACH, café de Altura Especial</p>
                                </div>
                                <div class="price">
                                    <s>$200</s> <span class="text-danger">$150</span>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
           </div>
       </div>
</div><!-- section -->

<div class="section section-gray">
       <div class="container">
           <h3 class="section-title">Encuentra el producto perfecto para ti</h3>
           <div class="row">
                <div class="col-md-3">
                    <div class="card card-refine">
                        <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
                            <ngb-panel id="config-panel-one">
                                <ng-template ngbPanelTitle>
                                    <h5 class="mb-0 panel-title">
                                        <a class="collapsed">
                                            Rango de precio
                                            <i class="nc-icon nc-minimal-down"></i>
                                        </a>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <nouislider class="slider slider-info" [connect]="true" [min]="70" [max]="300" [step]="10" [(ngModel)]="doubleSlider" [tooltips]="true"></nouislider>                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="mb-0 panel-title">
                                        <a class="collapsed">
                                            Tipo de producto
                                            <i class="nc-icon nc-minimal-down"></i>
                                        </a>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            Café orgánico de grano
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Café orgánico molido
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Café tostado y molido
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Café liobilizado
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Cafe orgánico soluble
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Cacao
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Chocolate en barra
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Chocolate de mesa
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artesanía de madera
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artesanía de hoja dee pino
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="mb-0 panel-title">
                                        <a class="collapsed">
                                            Región
                                            <i class="nc-icon nc-minimal-down"></i>
                                        </a>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            Todas
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Estado de México
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Chiapas
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Oaxaca
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Tabasco
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Guerrero
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Yucatán
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Quintana Roo
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                                <ng-template ngbPanelTitle>
                                    <h5 class="mb-0 panel-title">
                                        <a class="collapsed">
                                            Categoría
                                            <i class="nc-icon nc-minimal-down"></i>
                                        </a>
                                    </h5>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked>
                                            Café
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Cacao
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Miel
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Artesanías
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Cuidado de la piel
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Herbolaria
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-9">
                    <div class="products">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">

                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-1.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Miel de abeja Melipona</h5>
                                                <p class="card-description">Miell de abejas</p>
                                            </div>
                                            <div class="price">
                                                <h5>$60</h5>
                                                <a href="javascript:void(0)" class="btn btn-primary btn-round btn-lg " target="_blank">Comprar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-2.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Barra de Chocolate de Mesa</h5>
                                                <p class="card-description">Cacao</p>
                                            </div>
                                            <div class="price">
                                                <h5>$50</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-3.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Cremas faciales TOSEPAN</h5>
                                                <p class="card-description">Cremas faciales TOSEPAN</p>
                                            </div>
                                            <div class="price">
                                                <h5>$190</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-4.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Miel de abeja Melipona</h5>
                                                <p class="card-description">Miel de abeja</p>
                                            </div>
                                            <div class="price">
                                                <h5>$111</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-5.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Crema corporal TOSEPAN</h5>
                                                <p class="card-description">Cuidado de la piel</p>
                                            </div>
                                            <div class="price">
                                                <h5>$123</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="card card-product card-plain">
                                    <div class="card-image">
                                        <a href="javascript:void(0)">
                                            <img src="./assets/img/tienda-obio/prod-ecomm-6.png" alt="Rounded Image" class="img-rounded img-responsive">
                                        </a>
                                        <div class="card-body">
                                            <div class="card-description">
                                                <h5 class="card-title">Shampoo TOSEPAN</h5>
                                                <p class="card-description">Cuidado de la piel</p>
                                            </div>
                                            <div class="price">
                                                <h5>$99 </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                </div>
           </div>
       </div>
</div><!-- section -->



<!--
<div class="subscribe-line subscribe-line-black">
     <div class="container">
        <div class="row">
             <div class="col-md-9 col-sm-8">
                <form class="">
                     <div class="form-group">
                          <input type="text" value="" class="form-control" placeholder="Enter your email...">
                     </div>
                 </form>
             </div>
             <div class="col-md-3 col-sm-4">
                 <button type="button" class="btn btn-neutral btn-block btn-lg">Join Newsletter</button>
             </div>
        </div>
     </div>
</div>
-->

 <!--
<footer class="footer footer-big">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-9">
                <div class="links">
                    <ul class="uppercase-links">
                        <li>
                            <a href="javascript:void(0)">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                               Team
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                               Contact
                            </a>
                        </li>


                    </ul>
                    <hr />

                    <div class="copyright">
                        © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim
                    </div>
                </div>
            </div>

            <div class="col-md-4 ml-auto col-sm-2">
                <div class="social-area">
                    <a href="javascript:void(0)" class="btn btn-neutral btn-round btn-just-icon btn-facebook">
                       <i class="fa fa-facebook" aria-hidden="true"></i>
                   </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-just-icon btn-round btn-twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-neutral btn-just-icon btn-round btn-google">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a href="#pin" class="btn btn-neutral btn-just-icon btn-round btn-pinterest">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
-->



</div> <!-- wrapper -->
