<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/presentation']">OBIAMENTE BJ</a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <!--
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Tienda</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a ngbDropdownItem [routerLink]="['/components']"><i class="nc-icon nc-tile-56"></i>All Components</a>
                        <a ngbDropdownItem [routerLink]="['/presentation']"><i class="nc-icon nc-settings"></i>Presentation</a>
                        <a ngbDropdownItem href="https://demos.creative-tim.com/paper-kit-2-pro-angular/#/documentation/tutorial"><i class="nc-icon nc-bullet-list-67"></i>Documentation</a>
                    </div>
                </div>
                -->

                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Productos</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="headers"><i class="nc-icon nc-simple-add"></i> Café</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="features"><i class="nc-icon nc-simple-add"></i>&nbsp; Miel</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="blogs"><i class="nc-icon nc-simple-add"></i>&nbsp; Cacao</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="teams"><i class="nc-icon nc-simple-add"></i>&nbsp; Teams</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="projects"><i class="nc-icon nc-simple-add"></i>&nbsp; Cuidado de la piel</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="pricing"><i class="nc-icon nc-simple-add"></i>&nbsp; Artesanías</a>
                        <a class="dropdown-item" [routerLink]="['/presentation']" fragment="testimonials"><i class="nc-icon nc-simple-add"></i>&nbsp; Herbolaria</a>
                        
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Nosotros</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/presentation']"><i class="nc-icon nc-bank"></i>&nbsp; Acerca de nosotros</a>
                        
                        <a class="dropdown-item" [routerLink]="['/presentation']"><i class="nc-icon nc-mobile"></i>&nbsp; Contactanos</a>
                        
                    </div>
                </div>
                <li class="nav-item">
                    <a class="btn btn-round btn-danger" href="#">
                        <i class="nc-icon nc-badge"></i> Iniciar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
